/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    margin-top: 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: Arial;
    width: 100%;
}

div {
    display: block;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

/* Explaination
http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div*/
.height-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.wrapper {
    letter-spacing: 0;
    margin: 0 2em;
}

.header {
    width: 100%;
}

a {
    letter-spacing: 0;
    text-decoration: none;
}

.header {
    display: block;
    margin-top: 2em;
}

.main-logo {
    float:left;
}

.nav {
    float: right;
    margin-top: 2em;
}

.nav li{
    display: inline;
    text-align: left;
    /*float: right;*/
}

.nav a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    color: #999;
}

.nav a:hover {
    color: #555;
}

.single-row {
    margin-left: 0.5em;
    margin-bottom: 0.2em;
    margin-top: 1em;
}

.smaller-title {
    font-size: 1.3em;
}

.mp-section {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;

}

.mp-wrapper {
    background-color: #eae4d9;
    border-radius: 1em;
    padding-top: 0.7em;
    padding-left: 0.7em;
    /*padding: 0.5em 0.5em 0.5em 0.5em;*/


}

.mp-wrapper ul {
    margin: 0;
    padding-left: 0;
    /*padding-top: 0.3em;
    padding-bottom: 0.3em;*/
}

.mp-wrapper ul li:first-child {
    padding-top: .8em;
}

.mp-wrapper ul li {
    /*margin: 0.8em;*/
    padding: 0.8em;
    padding-top: 0;
}

.mp-wrapper ul li a {
    display: block;
    background: white;
    padding: 0.7em;
    border-radius: 0.5em;
    text-decoration: none;
}

.column {
    background-color: white;
    border-radius: 0.8em;
    text-align: center;
    padding: .5em;
    /*max-width: about 922px;*/
    margin: 0em 0.7em 0.7em 0em;
    height: 17.2em;
}

.column > img {
    border-radius: 0.5em;
    max-width: 100%;
}

.vote-title {
    padding-left: 0.6em;
    line-height: 1.8em; /* correction for padding in answer */
    font-size: 1em;
    color: #111;
}

.vote-list > a, p, span {
    color: black;
}

.vote-list ul li a {
    padding: 1em;
}

.vote-list .smaller-title {
    font-size: 1.1em;
}

.votes {
    border-radius: 2em;
    height: 2em;
    background-color: orange;
    overflow: hidden;
    border: 1px solid #999; /* fix for tiny space in between */
    box-shadow: 0 0 5px #888;
}

.votes span {
    line-height: 2em;
    padding: 0em 0.6em;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

.votes .no-bar span {
    float: right;
    white-space: nowrap;
}

.vote-list .vote-here {
    display: block;
    text-align: center;
    background-color: #EAE4D9;
    margin: 0 2em 1em 2em;
    padding: 0.5em;
    border-radius: 0.8em;
    box-shadow: 0px 1px 3px #999;
}

.vote-list .yes-bar {
    background-color: green;
    height: 2em;
    float: left;
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(#61C861), to(#2E872E));
}

.vote-list .no-bar {
    background-color: red;
    height: 2em;
    float: right;
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(#FF5C5C), to(#B93C3C));
}




.answer {
    float: right;
    background-color: #ccc;
    padding: 0.4em 0.6em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 0.9em;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.5), 0 1px rgba(255,255,255,0.7);
    color: #222;
    min-width: 1.7em;
}

.ja {
    background-image: linear-gradient(-180deg, #61C861,#2E872E);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#61C861), to(#2E872E));
}

.nej {
    /*color: #7D1500;*/
    background-image: -moz-linear-gradient(-90deg,#FF5C5C,#B93C3C);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF5C5C), to(#B93C3C));
}

.frånvarande {
    background-image: -moz-linear-gradient(-90deg,#e1e1e1,#999);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#999));
}


.box-title {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', serif;
}

.inactive {
    color: gray;
}

.percentage {
    text-align: center;
    font-size: 5vmax;
    margin: 0;
}

.description {
    display: block;
    font-size: 1em;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
